@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#1{
  
  float: left;
}

#2{
  margin-left: 100px; 
  float: right;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#skaterform {
  list-style: none;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  
  background-color: #d5e8f8
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#skatercontact input[type="text"],
#skatercontact input[type="email"],
#skatercontact input[type="number"],
#skatercontact textarea,
#skatercontact button[type="submit"] {
  font: 400 14px/16px "Roboto", Helvetica, Arial, sans-serif;
}


#skatercontact {
  background: #F9F9F9;
  padding: 20px;
  margin: 30px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#skatercontact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#skatercontact h4 {
  margin: 5px 0 1px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}


#skatercontact input[type="text"],
#skatercontact input[type="email"],
#skatercontact input[type="number"],
#skatercontact textarea {
  width: 95%;
  border: 2px solid #ccc;
  background: #FFF;
  margin: 0 0 1px;
  padding: 6px;
 
}

#skatercontact button[type="submit"] {
  cursor: pointer;
  width: 88%;
  border: none;
  background: #92c4ed;
  color: #FFF;
  padding: 10px;
  font-size: 20px;
  margin-left: 6%;
  
  
}

#skatercontact button[type="submit"]:hover {
  background: #3b94de;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#skatercontact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#skatercontact input:focus,
#skatercontact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}


.contact-container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.contact-info-container {
	width: 30%;
	margin: 0 auto;
	padding-bottom: 5em;
}

.contact-info h1 {
	text-align: center;
}

.contact-info h2, h3{
	width: 100%;
	text-align: left;
	margin: 0 auto;
}

.contact-header {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.contact-column {
    float: left;
    width:40%;
    padding: 20px;
}

.row {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact-body {
	background-color: #448490;
}

.contact-form {
    margin: 10px auto;
    max-width: 500px;
    padding: 15px 15px 10px 15px;
}

.contact-form .req {
    color:red;
}

.contact-form .split-input {
    width: 48%;
}

.contact-form .long-input {
    width: 98%;
}

.form-style-1 textarea {
    height: 200px;
}

.contact-form input[type=submit], 
.contact-form input[type=button] {
    background: #448490;
    padding: 5px 15px 5px 15px;
    border: none;
    color: #ffffff;
}

.contact-form input[type=submit]:hover, 
.contact-form input[type=button]:hover {
    background: #316068;
    box-shadow: none;
}

.contact-form label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.contact-form li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

#map {
	width: 350px;
	height: 350px;
	position: relative;
}


