@import url(https://fonts.googleapis.com/css?family=Niramit:400,300,600);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html{
  background-color: green;
  background-image: url("ice_background2.jpg");
  background: no-repeat;
  font-family: sans-serif
}

body {
  background-color: #d5e8f8;
}

#Title {
  font-family: sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  opacity: 0.7;
  text-align: right;
  position: relative;
  margin-left: 1em;
  padding-top: 1em;
}

header {
  background-image: url("../images/ice-background-1.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 1em;  
}

#logo {
  position: relative;
  text-align: right;
  display: block;
  margin-left: 50px;
  padding-top: 30px;
  margin-bottom: 1em
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  display: block;
  margin: .5em;
  margin-left: 2em
}

li a {
    display: block;
    color: cadetblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a{
  color: cadetblue;
  text-decoration: none;
}
a:hover{
  color: #1b4b4d;
  text-decoration: underline
}
li a:hover {
    background-color: #89c5f8;
}
#nav li{
  display: inline-block;
  font-size: 1.4em;
  margin-top: 3px;
  margin-bottom: 3px;
  
}
#nav{
  box-shadow: 0 0 40px #f8feff;
  background-color: #f8feff;
  width: 50em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto
}
.Sponsors {
  font-size: 3em;
  color: cadetblue;
  font-family: cursive;
  margin-bottom: 10px
}

.section1 {
  font-size: 16px;
}

#sessiontypes {
  margin: auto;
  width: 50%;
}
#sessiontypeh4 {
  display: inline-block;
  padding: 2px;
  margin-top: 1px;
  
}

.key {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  padding: 2px;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 80px;
}

.moves {
  background-color: lightgreen;
  border: 1px solid green;
}

.combo {
  background-color: lightpink;
  border: 1px solid #d46a6a;
}

.freestyle {
  background-color: lightgray;
  border: 1px solid grey;
}

#SkatePic {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 80%;
  text-align: center;
}

/*
.footer {
    background-color: aliceblue;
    text-align: center;
	color: black;
    padding: 5px;
	font: 12px "HelveticaNeue";
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	display: inline-block;
    margin-top: 5em;
    width: 40em;
    margin-left: 30%;
    margin-right: 30%;
}

#footerinfo {
    float: left;
	text-align: center;
	display: inline-block;
	alink: black;
	vlink: black;
	color: black;
    width: 50%;
}

#footersocial {
    float: left;
	text-align: center;
	display: inline-block;
    width: 50%;

}
.social{
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px
}
#facebook{
  background-image: url("../images/facebook.png");
}
#instagram{
  background-image: url("../images/instagram.png");
}



.footerinfo3 h4{
  margin-bottom: 8px;
}

*/


/* footer css   */
.newfooter {
  padding-top: 60px;
  padding-top: 60px;
  display: block;
  margin-left: 10%;
}

#footer-address {
  float: left;
  font-family: "Niramit", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.525em;
  margin-right: 22%;
  margin-top: 4px;
}
#follow-us {
  float: left;
  
}

#follow-us h6 {
  font-size: 20px;
  font-family: "Niramit", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  padding-bottom: 2px;
  
}

#facebook2 {
  display: inline-block;
  width: 60px;
  height: 60px;
}

#facebook2 img {
  width: 58px;
  height: 58px;
  margin-bottom: 3px;
}

#instagram2 {
  display: inline-block;
}

#instagram2 img {
  width: 65px;
  height: 65px;
}

#rights {
  float: right;
  font-family: "Niramit", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.525em;
  margin-right: 10%;
  margin-left: 15%;
  margin-top: 4px;
}

/* end of footer css   */

#main{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact-info h1, .contact-info h2, .contact-info h3{
  text-align: left
}
#scheduleMain{
  margin-bottom: 2em;
  padding-bottom: 1em;
  clear: both
}
.scheduleContent{
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  background-color: white;
  box-shadow: 5px 5px 10px #95c8f4;
}
td, th{
  padding: 5px 0 5px 0;
  width: 13%;
  margin-left: 5px;
  background-color: #d5e8f8;
}
td{
  height: 150px
}
#sessiontypes{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  text-align: center
}
.scheduleContent button{
  display: inline-block;
  background-color: aliceblue;
  box-shadow: 5px 5px 10px #95c8f4;
  font-size: 1.3em;
  padding: 4px;
  border-radius: 7px;
  margin: 1em; 
  float: right
}
.scheduleContent button:hover{
  background-color: #fff;
  box-shadow: 3px 3px 5px #95c8f4;
  
}
#scheduleMain h2{
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
}
.calendarDay{
  text-align: left;
  margin-top: 0;
  font-size: 1.5em;
}
#contactForm{
  margin-bottom: 3em;
}
#contactForm h3{
  text-align: center;
}
#map{
  margin-left: auto;
  margin-right: auto;
}
#gold{
  float: left;
  background-image: url("../images/gold-final.png");
}
#silver{
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/silver-final.png");
}
#bronze{
  float: right;
  margin-top: 0;
  background-image: url("../images/bronze-final.png");
}
.sponsor{
  width: 294px;
  display: inline-block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  height: 542px;
  padding-top: 2em;
  box-shadow: 8px 8px 14px #23537b;
}
.hSponsor{
  font-size: 30px;
  color: black;
  font-family: cursive;
  text-decoration: underline;
  opacity: .55
}
.pSponsor{
  padding-left: 1em;
  padding-right: 1em;
  opacity: .55;
  font-family: serif;
  font-size: 1.37em
}
#Sponsor{
  margin-bottom: 4em;
}
#intro{
  margin-top: 0
}

#scheduleMain > table li {
  border-radius: 3px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.2em;
  text-align: center;
  cursor: pointer;
}

#scheduleMain > table li.selected {
  background-color: #ffd54f;
}

/* contact.html styles */
.contact-container {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	background-color: #d5e8f8;
	padding-top: 2em;
}

.contact-column h3 {
	text-align: left;	
	padding-bottom: 1em;
}
.contact-column {
    float: left;
    width: 45%;
    height: 100%;
}

.row {
	height: 100%;
	width: 100%;
	margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact-form {
    margin: 0 auto;
    max-width: 500px;
    padding: 15px 15px 10px 15px;
    border: 1px solid #d5e8f8;
}

.contact-form .req {
    color:red;
}

.contact-form .split-input {
    width: 48%;
}

.split-label {
    width: 48%;
    display: inline-block;
    float: left;
}

.split-label:after {
    content: "";
    display: table;
    clear: both;
}

.contact-form .long-input {
    width: 98%;
}

.contact-form select {
	font-size: 16px;
}

.contact-form textarea {
    height: 5em;
    font-size: 16px;
}

.contact-form input[type=text]{
  height: 3em;
}
.contact-form input[type=email]{
  height: 3em;
}

.contact-form input {
	font-size: 16px;
}

.contact-form input[type=submit], 
.contact-form input[type=button],
.contact-form button {
    padding: 1.5em 3em 1.5em 3em;
    border: none;
    color: #ffffff;
    background-color: #7BA7CC;
    background-color: #356994;
    width: 100%;
}

.contact-form input[type=submit]:hover, 
.contact-form input[type=button]:hover,
.contact-form button:hover {
    background-color: #7BA7CC;
    box-shadow: none;
}

.contact-column a {
	color: #356994;
}

.contact-column a:hover {
	color: #7BA7CC;
	text-decoration: none;
}

.contact-form input[type=radio] {
	padding: 5px;
	margin: 5px;
	display: inline;
}
select{
  height: 3em;
}
#right-float {
	float: right;
}

.contact-form label {
	margin: 0 0 3px 0;
    padding: 0px;
    font-weight: bold;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.contact-form li {
    padding: 5px;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

#session-times {
	margin-top: 3em;
	margin-bottom: 3em;
}

#session-times thead tr th:first-child,
tbody tr td:first-child {
	width: 5%;
	min-width: 10px;
  	max-width: 10px;
}

#map {
	width: 85% !important;
	height: 280px;
	margin: 0;
	position: relative;
	padding-bottom: 3em;
}

address {
	text-align:center;
	padding: 3em;
}

address > span {
	text-align:left; 
	display:inline-block;
	padding: 0;
	margin: 0;
	line-height: 1em;
}

/* summary.html styles */

#summary-container {
	width: 80%;
	margin: 0 auto;
}

.summary-column {
    float: left;
    width: 40%;
    height: 100%;
    margin: 3em;
}


/* about.html styles - start */

.boardOfDirectors table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    margin: auto;
    text-align: left
}
.boardOfDirectors th, td {
    padding: 5px;
    height: 3em
}

tr.boardOfDirectorsTR {
	color: teal;
}
#aboutIntro {
	text-align: left;
	
}

/* about.html styles - end */
