html{
  background-color: green;
  background-image: url("ice_background2.jpg");
  background: no-repeat;
  opacity: 0.8;
  font-family: sans-serif
}

body {
  background-color: #d5e8f8;
}

#Title {
  font-family: cursive;
  font-size: 25px;
  letter-spacing: 2px;
  opacity: 0.7;
  text-align: right;
  position: relative;
  
}

header {
  /*background-image: url("../images/ice-background-1.jpg");
  background-repeat: no-repeat;*/
  
}


#logo {
  position: relative;
  text-align: right;
  display: block;
  margin-left: 50px;
  margin-top: 30px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  display: block;
  margin: .5em;
  margin-left: 2em
}

li a {
    display: block;
    color: cadetblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #89c5f8;
}
#nav li{
  display: inline-block;
  font-size: 1.4em;
  margin-top: 3px;
  margin-bottom: 3px;
  
}
#nav{
  box-shadow: 0 0 40px #f8feff;
  background-color: #f8feff;
  width: 50em;
  margin-top: 1em;
  margin-left: 4em;
}
.Sponsors {
  font-size: 3em;
  color: cadetblue;
  font-family: cursive;
  text-decoration: underline;
  margin-bottom: 10px
}

.section1 {
  font-size: 16px;
}

#SkatePic {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 80%;
}

.footer {
    background-color: aliceblue;
    padding: 5px;
    text-align: center;
	color: black;
	font: 12px "HelveticaNeue";
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	display: inline-block;
    margin-top: 5em;
}

.footerinfo1 {
    float: left;
	text-align: center;
	display: inline;
	alink: black;
	vlink: black;
	color: black;
    width: 30%;
}

.footerinfo3 {
    float: left;
	text-align: center;
	display: inline;
	padding-right: 50px;
    width: 30%;

}

.footerinfo4 {
	float: right;
	text-align: center;
	display: inline;
	padding-right: 50px;
    width: 30%;
}
#main{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact-info h1, .contact-info h2, .contact-info h3{
  text-align: left
}
#scheduleMain{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  background-color: #c1e3ff;
  width: 96%;
  box-shadow: 5px 5px 10px #95c8f4;
  padding-bottom: 1em;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
td, th, table{
  border: 1px solid cadetblue;
}
td, th{
  padding: 5px 0 5px 0;
  width: 13%
}
#scheduleMain h2{
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
}
.calendarDay{
  text-align: left;
  margin-top: 0;
  font-size: 1.5em;
}
.contact-column{
  background-color: red;
}
.contact-container{
  background-color: #c1e3ff
}
#contactForm{
  margin-bottom: 3em;
}
#contactForm h3{
  text-align: center;
}
#map{
  margin-left: auto;
  margin-right: auto;
}
#gold{
  float: left;
  background-image: url("../images/gold-final.png");
}
#silver{
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/silver-final.png");
}
#bronze{
  float: right;
  margin-top: 0;
  background-image: url("../images/bronze-final.png");
}
.sponsor{
  width: 294px;
  display: inline-block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  height: 542px;
  padding-top: 1em;
  box-shadow: 8px 8px 14px #23537b;
}
.hSponsor{
  font-size: 30px;
  color: black;
  font-family: cursive;
  text-decoration: underline;
  opacity: .55
}
.pSponsor{
  padding-left: 1em;
  padding-right: 1em;
  opacity: .55;
  font-family: serif;
  font-size: 1.37em
}
#Sponsor{
  margin-bottom: 4em;
}
#intro{
  margin-top: 0
}


